<div class="container">
    <div class="form_box">
        <h1 class="heading1">Enter Email To Get OTP</h1>
        <form [formGroup]="forgetPassword" (submit)="forgetPasswordUser()">
            <div class="input_box">
                <input type="email" placeholder="Enter email" formControlName="email">

                <div class="error-box" *ngIf="forgetPassword.get('email')?.invalid && forgetPassword.get('email')?.touched">
                    <span *ngIf="forgetPassword.get('email')?.errors?.['required']">This Field is Required</span>
                    <span *ngIf="forgetPassword.get('email')?.errors?.['email']">This is not valid email</span>
                </div>
            </div>

            <div class="button_box">
                <button type="submit">Get OTP</button>
            </div>
            <div class="register_visit">
                <p>Click here to</p>
                <a routerLink="/login">Login</a>
            </div>
            
        </form>
    </div>
</div>

