/* You can add global styles to this file, and also import other style files */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


//1rem will be equal to 10px now
html{
    font-size: 62.5%;
}

body{
    box-sizing: inherit;
    font-size: 1.6rem;
}

//to make body take full page if not needed can be removed
html,
body{
    height: 100%;
    // background-color: $color-grey-light;
    font-family: 'Rubik',sans-serif;
}


button,
select,
input{
    font-size: 1.6rem;
    // color: $color;
}

button{
    cursor: pointer;
}

.workspace{
    width: 100%;
    max-width: 90%;
    margin: 0 auto;

    @media screen and (max-width: 1400px) {
        padding: 0 30px;
    }
}